name: CI

on: [pull_request, push, workflow_dispatch]

jobs:

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        # python-version: ["3.8", "3.9", "3.10", "3.11"]
        python-version: ["3.8"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install
        run: pip install -e .[testing]      

      - name: Run tests
        run: pytest

  build:
    needs:
    - test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        # python-version: ["3.8", "3.9", "3.10", "3.11"]
        python-version: ["3.8"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install pypa/build
        run: pip install build

      - name: Build wheel and source
        run: |
          mkdir -p dist/${{ matrix.os }}-${{ matrix.python-version }}
          python -m build --outdir dist/${{ matrix.os }}-${{ matrix.python-version }}
      
      - name: Store artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-package-distributions-${{ matrix.os }}-${{ matrix.python-version }}
          path: dist/${{ matrix.os }}-${{ matrix.python-version }}

  publish-to-testpypi:
    name: Publish to TestPyPI
    needs:
    - build
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        # python-version: ["3.8", "3.9", "3.10", "3.11"]
        python-version: ["3.8"]

    environment:
      name: testpypi
      url: https://test.pypi.org/p/cotdantic

    permissions:
      id-token: write

    steps:
      - name: Download all the dists
        uses: actions/download-artifact@v4
        with:
          name: python-package-distributions-${{ matrix.os }}-${{ matrix.python-version }}
          path: dist/${{ matrix.os }}-${{ matrix.python-version }}
          
      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/